/* 基本样式 */

body {
  font-size: 14px;
  height: 100%;
  background-color: #f0f2f5;
}

.lce-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 5px;
  box-sizing: border-box;
  background: #fff;
}


.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}